<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>FinkCommander Help</string>
	<key>CFBundleHelpBookName</key>
	<string>FinkCommander Help</string>
	<key>CFBundleIconFile</key>
	<string>finkcommander</string>
	<key>CFBundleIdentifier</key>
	<string>com.sburrious.finkcommander</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VCS_TAG</string>
	<key>CFBundleSignature</key>
	<string>Fcmd</string>
	<key>CFBundleVersion</key>
	<string>VCS_NUM</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.8</string>
		<key>x86_64</key>
		<string>10.8</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2002 Steven J. Burr, subject to Gnu General Public License; see Help:FinkCommander Help:License to read the GPL</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
