<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FinkAlwaysChooseDefaults</key>
	<false/>
	<key>FinkAlwaysScrollToBottom</key>
	<false/>
	<key>FinkAskForPasswordOnStartup</key>
	<false/>
	<key>FinkAutoExpandOutput</key>
	<false/>
	<key>FinkBasePath</key>
	<string> </string>
	<key>FinkBasePathFound</key>
	<true/>
	<key>FinkBufferLimit</key>
	<integer>10000</integer>
	<key>FinkCheckForNewVersion</key>
	<true/>
	<key>FinkCheckForNewVersionInterval</key>
	<integer>7</integer>
	<key>FinkColumnStateDictionary</key>
	<dict>
		<key>binary</key>
		<string>normal</string>
		<key>category</key>
		<string>normal</string>
		<key>installed</key>
		<string>normal</string>
		<key>maintainer</key>
		<string>normal</string>
		<key>name</key>
		<string>normal</string>
		<key>stable</key>
		<string>normal</string>
		<key>status</key>
		<string>normal</string>
		<key>summary</key>
		<string>normal</string>
		<key>unstable</key>
		<string>normal</string>
		<key>version</key>
		<string>normal</string>
	</dict>
	<key>FinkEnvironmentSettings</key>
	<dict>
		<key>CVS_RSH</key>
		<string>ssh</string>
	</dict>
	<key>FinkExtendedVerbosity</key>
	<false/>
	<key>FinkGiveEmailCredit</key>
	<true/>
	<key>FinkHTTPProxyVariable</key>
	<string></string>
	<key>FinkInitialEnvironmentHasBeenSet</key>
	<false/>
	<key>FinkLastCheckedForNewVersion</key>
	<date>2002-08-01T03:07:31Z</date>
	<key>FinkLookedForProxy</key>
	<false/>
	<key>FinkOutputPath</key>
	<string></string>
	<key>FinkOutputViewRatio</key>
	<real>3.4609751350643591e-311</real>
	<key>FinkPackageAttributes</key>
	<array>
		<string>name</string>
		<string>version</string>
		<string>installed</string>
		<string>binary</string>
		<string>stable</string>
		<string>unstable</string>
		<string>status</string>
		<string>category</string>
		<string>summary</string>
		<string>maintainer</string>
	</array>
	<key>FinkPackagesInTitleBar</key>
	<true/>
	<key>FinkScrollToSelection</key>
	<false/>
	<key>FinkSelectedColumnIdentifier</key>
	<string>name</string>
	<key>FinkShowRedundantPackages</key>
	<false/>
	<key>FinkTableColumnsArray</key>
	<array>
		<string>status</string>
		<string>name</string>
		<string>installed</string>
		<string>binary</string>
		<string>stable</string>
		<string>unstable</string>
		<string>category</string>
		<string>summary</string>
	</array>
	<key>FinkUpdateWithFink</key>
	<true/>
	<key>FinkUsersArray</key>
	<array/>
	<key>FinkWarnBeforeRemoving</key>
	<true/>
	<key>FinkWarnBeforeTerminating</key>
	<true/>
</dict>
</plist>
