<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FinkDescribeItem</key>
	<dict>
		<key>Action</key>
		<string>showPackageInfoPanel</string>
		<key>Image</key>
		<string>describe</string>
		<key>Label</key>
		<string>Inspector</string>
		<key>PaletteLabel</key>
		<string>Package Inspector</string>
		<key>ToolTip</key>
		<string>Show package inspector panel</string>
	</dict>
	<key>FinkNegativeEmailItem</key>
	<dict>
		<key>Action</key>
		<string>sendNegativeFeedback</string>
		<key>Image</key>
		<string>negemail</string>
		<key>Label</key>
		<string>Negative</string>
		<key>PaletteLabel</key>
		<string>Negative Feedback</string>
		<key>ToolTip</key>
		<string>Tell the maintainer a package is not working</string>
	</dict>
	<key>FinkPositiveEmailItem</key>
	<dict>
		<key>Action</key>
		<string>sendPositiveFeedback</string>
		<key>Image</key>
		<string>posemail</string>
		<key>Label</key>
		<string>Positive</string>
		<key>PaletteLabel</key>
		<string>Positive Feedback</string>
		<key>ToolTip</key>
		<string>Tell the maintainer that an unstable package is working for you</string>
	</dict>
	<key>FinkFilterItem</key>
	<dict>
		<key>Label</key>
		<string>Filter Table Data</string>
	</dict>
	<key>FinkInstallBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runPackageSpecificCommand</string>
		<key>Image</key>
		<string>addbin</string>
		<key>Label</key>
		<string>Install Binary</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Install binary package(s)</string>
	</dict>
	<key>FinkInstallSourceItem</key>
	<dict>
		<key>Action</key>
		<string>runPackageSpecificCommand</string>
		<key>Image</key>
		<string>addsrc</string>
		<key>Label</key>
		<string>Install</string>
		<key>PaletteLabel</key>
		<string>Install Source</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Install package(s) from source</string>
	</dict>
	<key>FinkInteractItem</key>
	<dict>
		<key>Action</key>
		<string>raiseInteractionWindow</string>
		<key>Image</key>
		<string>interact</string>
		<key>Label</key>
		<string>Interact</string>
		<key>ToolTip</key>
		<string>Raise interaction sheet (use if command has stalled)</string>
	</dict>
	<key>FinkRemoveBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runPackageSpecificCommand</string>
		<key>Image</key>
		<string>delbin</string>
		<key>Label</key>
		<string>Remove Binary</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Delete files for package(s), but retain deb files for possible reinstallation</string>
	</dict>
	<key>FinkRemoveSourceItem</key>
	<dict>
		<key>Action</key>
		<string>runPackageSpecificCommand</string>
		<key>Image</key>
		<string>delsrc</string>
		<key>Label</key>
		<string>Remove</string>
		<key>PaletteLabel</key>
		<string>Remove Source</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Delete files for package(s), but retain deb files for possible reinstallation</string>
	</dict>
	<key>FinkSelfUpdateCVSItem</key>
	<dict>
		<key>Action</key>
		<string>runNonSpecificCommand</string>
		<key>Image</key>
		<string>cvs</string>
		<key>Label</key>
		<string>Selfupdate-cvs</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Update package descriptions from fink cvs repository</string>
	</dict>
	<key>FinkSelfUpdateItem</key>
	<dict>
		<key>Action</key>
		<string>runNonSpecificCommand</string>
		<key>Image</key>
		<string>update</string>
		<key>Label</key>
		<string>Selfupdate</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Update package descriptions and package manager</string>
	</dict>
	<key>FinkTermCvsItem</key>
	<dict>
		<key>Action</key>
		<string>runNonSpecificCommandInTerminal</string>
		<key>Image</key>
		<string>termcvs</string>
		<key>Label</key>
		<string>Selfupdate-cvs</string>
		<key>PaletteLabel</key>
		<string>Selfupdate-cvs in Terminal</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Run selfupdate-cvs command in Terminal</string>
	</dict>
	<key>FinkTermInstallItem</key>
	<dict>
		<key>Action</key>
		<string>runPackageSpecificCommandInTerminal</string>
		<key>Image</key>
		<string>terminstall</string>
		<key>Label</key>
		<string>Install</string>
		<key>PaletteLabel</key>
		<string>Install in Terminal</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Run install command in Terminal</string>
	</dict>
	<key>FinkTerminateCommandItem</key>
	<dict>
		<key>Action</key>
		<string>terminateCommand</string>
		<key>Image</key>
		<string>terminate</string>
		<key>Label</key>
		<string>Terminate</string>
		<key>ToolTip</key>
		<string>Terminate current command</string>
	</dict>
	<key>FinkUpdateBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runNonSpecificCommand</string>
		<key>Image</key>
		<string>updatebin</string>
		<key>Label</key>
		<string>Update</string>
		<key>PaletteLabel</key>
		<string>Apt-Get Update</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Update binary package descriptions</string>
	</dict>
	<key>FinkUpdateallItem</key>
	<dict>
		<key>Action</key>
		<string>runNonSpecificCommand</string>
		<key>Image</key>
		<string>updateall</string>
		<key>Label</key>
		<string>Update-all</string>
		<key>PaletteLabel</key>
		<string>Update-all</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Update all packages from source</string>
	</dict>
</dict>
</plist>
