
body {	
	margin-left: 5%;
	margin-right: 5%;
	background: white;
}

h1,h2,h3,h4 {
	color: navy;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
}

dt {
    color: navy;
    font-weight: bold;
}

.question {
    color: navy;
    font-weight: bold;
}

a:link {
	color: navy;
}

a:visited {
	color: maroon;
}

a:active {
	color: green;
}
