<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>FinkDescribeItem</key>
	<dict>
		<key>Action</key>
		<string>showPackageInfoPanel</string>
		<key>Image</key>
		<string>describe</string>
		<key>Label</key>
		<string>Inspector</string>
		<key>PaletteLabel</key>
		<string>Paket-Inspektor</string>
		<key>ToolTip</key>
		<string>Paket-Inspektor anzeigen</string>
	</dict>
	<key>FinkEmailItem</key>
	<dict>
		<key>Action</key>
		<string>emailMaintainer</string>
		<key>Image</key>
		<string>email</string>
		<key>Label</key>
		<string>Maintainer</string>
		<key>PaletteLabel</key>
		<string>Email Maintainer</string>
		<key>ToolTip</key>
		<string>Email an den Maintainer des Pakets senden</string>
	</dict>
	<key>FinkFilterItem</key>
	<dict>
		<key>Label</key>
		<string>Paket-Filter</string>
	</dict>
	<key>FinkInstallBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>addbin</string>
		<key>Label</key>
		<string>Install Binary</string>
		<key>PaletteLabel</key>
		<string>Binär installieren</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Binär Paket(e) installieren</string>
	</dict>
	<key>FinkInstallSourceItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>addsrc</string>
		<key>Label</key>
		<string>Install</string>
		<key>PaletteLabel</key>
		<string>Source installieren</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Paket(e) von Source Code installieren</string>
	</dict>
	<key>FinkInteractItem</key>
	<dict>
		<key>Action</key>
		<string>raiseInteractionWindow</string>
		<key>Image</key>
		<string>interact</string>
		<key>Label</key>
		<string>Interact</string>
		<key>PaletteLabel</key>
		<string>Interaktion</string>
		<key>ToolTip</key>
		<string>Fenster zum Senden einer Eingabe an Fink anzeigen (falls Kommando angehalten hat)</string>
	</dict>
	<key>FinkRemoveBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>delbin</string>
		<key>Label</key>
		<string>Remove Binary</string>
		<key>PaletteLabel</key>
		<string>Binär löschen</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Binäre Paket-Dateien löschen; .deb Dateien behalten für eine schnelle Neu-Installation</string>
	</dict>
	<key>FinkRemoveSourceItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>delsrc</string>
		<key>Label</key>
		<string>Remove</string>
		<key>PaletteLabel</key>
		<string>Source löschen</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Source Paket-Dateien löschen; .deb Dateien behalten für eine schnelle Neu-Installation</string>
	</dict>
	<key>FinkSelfUpdateCVSItem</key>
	<dict>
		<key>Action</key>
		<string>runUpdater</string>
		<key>Image</key>
		<string>cvs</string>
		<key>Label</key>
		<string>Selfupdate-cvs</string>
		<key>PaletteLabel</key>
		<string>Selfupdate-cvs</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Paket-Beschreibungen von CVS aktualisieren</string>
	</dict>
	<key>FinkSelfUpdateItem</key>
	<dict>
		<key>Action</key>
		<string>runUpdater</string>
		<key>Image</key>
		<string>update</string>
		<key>Label</key>
		<string>Selfupdate</string>
		<key>PaletteLabel</key>
		<string>Aktualisieren</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Paket-Beschreibungen aktualisieren</string>
	</dict>
	<key>FinkTerminateCommandItem</key>
	<dict>
		<key>Action</key>
		<string>terminateCommand</string>
		<key>Image</key>
		<string>terminate</string>
		<key>Label</key>
		<string>Terminate</string>
		<key>PaletteLabel</key>
		<string>Befehl beenden</string>
		<key>ToolTip</key>
		<string>Aktuell ausgeführten Befehl beenden</string>
	</dict>
	<key>FinkUpdateBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runUpdater</string>
		<key>Image</key>
		<string>updatebin</string>
		<key>Label</key>
		<string>Update</string>
		<key>PaletteLabel</key>
		<string>apt-get update</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Beschreibungen der Binär-Pakete aktualisieren (apt-get update)</string>
	</dict>
</dict>
</plist>
