<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>FinkDescribeItem</key>
	<dict>
		<key>Action</key>
		<string>showPackageInfoPanel</string>
		<key>Image</key>
		<string>describe</string>
		<key>Label</key>
		<string>Inspector</string>
		<key>PaletteLabel</key>
		<string>Pakete Inspektor</string>
		<key>ToolTip</key>
		<string>Pakete Inspector zeigen</string>
	</dict>
	<key>FinkEmailItem</key>
	<dict>
		<key>Action</key>
		<string>emailMaintainer</string>
		<key>Image</key>
		<string>email</string>
		<key>Label</key>
		<string>Maintainer</string>
		<key>PaletteLabel</key>
		<string>Email Erhalter</string>
		<key>ToolTip</key>
		<string>E-mail zu dem Erhalter für das Paket senden</string>
	</dict>
	<key>FinkFilterItem</key>
	<dict>
		<key>Label</key>
		<string>Pakete Filter</string>
	</dict>
	<key>FinkInstallBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>addbin</string>
		<key>Label</key>
		<string>Install Binary</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Binär Pakete einbringen</string>
	</dict>
	<key>FinkInstallSourceItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>addsrc</string>
		<key>Label</key>
		<string>Install</string>
		<key>PaletteLabel</key>
		<string>Source Einbringen</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Pakete von Source Code einbringen</string>
	</dict>
	<key>FinkInteractItem</key>
	<dict>
		<key>Action</key>
		<string>raiseInteractionWindow</string>
		<key>Image</key>
		<string>interact</string>
		<key>Label</key>
		<string>Interact</string>
		<key>ToolTip</key>
		<string>Das Kommunikationsfenster zeigen</string>
	</dict>
	<key>FinkRemoveBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>delbin</string>
		<key>Label</key>
		<string>Remove Binary</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Pakete Dateien entfernen; .deb Dateien behalten um die Pakete leicht wieder zu einbringen</string>
	</dict>
	<key>FinkRemoveSourceItem</key>
	<dict>
		<key>Action</key>
		<string>runCommand</string>
		<key>Image</key>
		<string>delsrc</string>
		<key>Label</key>
		<string>Remove</string>
		<key>PaletteLabel</key>
		<string>Remove Source</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Pakete Dateien entfernen; .deb Dateien behalten um die Pakete leicht wieder zu einbringen</string>
	</dict>
	<key>FinkSelfUpdateCVSItem</key>
	<dict>
		<key>Action</key>
		<string>runUpdater</string>
		<key>Image</key>
		<string>cvs</string>
		<key>Label</key>
		<string>Selfupdate-cvs</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Pakete Beschreibungen von cvs erneuen</string>
	</dict>
	<key>FinkSelfUpdateItem</key>
	<dict>
		<key>Action</key>
		<string>runUpdater</string>
		<key>Image</key>
		<string>update</string>
		<key>Label</key>
		<string>Selfupdate</string>
		<key>Tag</key>
		<integer>0</integer>
		<key>ToolTip</key>
		<string>Pakete Beschreibungen erneuen</string>
	</dict>
	<key>FinkTerminateCommandItem</key>
	<dict>
		<key>Action</key>
		<string>terminateCommand</string>
		<key>Image</key>
		<string>terminate</string>
		<key>Label</key>
		<string>Terminate</string>
		<key>ToolTip</key>
		<string>Gegenwärtigen Befehl beenden</string>
	</dict>
	<key>FinkUpdateBinaryItem</key>
	<dict>
		<key>Action</key>
		<string>runUpdater</string>
		<key>Image</key>
		<string>updatebin</string>
		<key>Label</key>
		<string>Update</string>
		<key>PaletteLabel</key>
		<string>Apt-Get Update</string>
		<key>Tag</key>
		<integer>1</integer>
		<key>ToolTip</key>
		<string>Beschreibungen von Binär Pakete erneuen</string>
	</dict>
</dict>
</plist>
